
body {
    background: rgb(32, 106, 119);
}

h1{
    text-align: center;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}


a:link {
    color: black;
}

/* visited link */
a:visited {
    color: midnightblue;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: lightslategrey;
}

nav{
    text-align: right;
}